<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="close">
    <i class="icon--close"></i> icon--close
  </div>
  
  <div class="icons__item" data-name="facebook">
    <i class="icon--facebook"></i> icon--facebook
  </div>
  
  <div class="icons__item" data-name="icon-black-grey">
    <i class="icon--icon-black-grey"></i> icon--icon-black-grey
  </div>
  
  <div class="icons__item" data-name="icon-black">
    <i class="icon--icon-black"></i> icon--icon-black
  </div>
  
  <div class="icons__item" data-name="icon-color">
    <i class="icon--icon-color"></i> icon--icon-color
  </div>
  
  <div class="icons__item" data-name="instagram">
    <i class="icon--instagram"></i> icon--instagram
  </div>
  
  <div class="icons__item" data-name="linkedin">
    <i class="icon--linkedin"></i> icon--linkedin
  </div>
  
  <div class="icons__item" data-name="menu">
    <i class="icon--menu"></i> icon--menu
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
  <div class="icons__item" data-name="twitter">
    <i class="icon--twitter"></i> icon--twitter
  </div>
  
</div>
