.media-block {
  &__content {
    padding: $spacing--s;
  }

  &__media {
    padding-top: 60%;
    .media-block--show-full-media & {
      padding-top: 0;
    }
  }

  &__title {
    @include h3;
  }

  &__body {

  }

  @include breakpoint($bp--small) {
    display: flex;
    justify-content: space-between;
    &--show-full-media {
      align-items: flex-start;
    }
    &.media-block--media-on-right {
      flex-direction: row-reverse;
    }
    &__content {
      width: 50%;
      padding: $spacing--l;
      .media-block--media-size-s & {
        width: 75%;
      }
      .media-block--media-size-l & {
        width: 25%;
      }
    }
    &__media {
      padding-top: 0;
      width: 50%;
      .media-block--media-size-s & {
        width: 25%;
      }
      .media-block--media-size-l & {
        width: 75%;
      }
    }
    &__title {
      @include h2;
    }
  }

}
