.page {
  width: 100%;
  display: block;
}

.page__content {}

.page__sidebar-one {
  order: -1;
}

.page__sidebar-two {
  order: 1;
}

.page--has-sidebar-one {
  display: flex;  
}

.page--has-sidebar-two {}
