.page {
  width: 100%;
  display: block;
}

.page__content {
  width: 100%;
}

.page__sidebar-one,
.page__sidebar-two {
  width: 20%;
  min-width: 300px;
  max-width: 450px;
  padding: 2rem;
  border-right: solid 1px black;
  height: 100%;
}

.page__sidebar-one h4,
.page__sidebar-two h4 {
  margin: 1.25rem 0 0.25rem;
}

.page__sidebar-one ul,
.page__sidebar-two ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.page__sidebar-one {
  order: -1;
  margin-right: 1rem;
}

.page__sidebar-two {
  order: 1;
  margin-left: 1rem;
}

.page--has-sidebar-one,
.page--has-sidebar-two {
  display: flex;
  justify-content: space-between;
}

.page--has-sidebar-one .page__content {
  width: 80%;
}

.page--has-sidebar-two .page__content {
  width: 80%;
}

.page--has-sidebar-one.page--has-sidebar-two .page__content {
  width: 60%;
}
