.button {
  @include a-link(white, white, none, none);
  display: inline-block;
  font-family: Avenir;
  font-weight: 400;
  line-height: 1.25;
  min-width: 58px;
  text-align: center;
  border-radius: 5px;
  transition: all $trans-opacity;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  padding: $spacing--s $spacing--xl;
  font-size: $fs--l;
  &:hover {
    transform: scale(0.98);
  }
  &--color {
    &-blue {
      background-color: $c-blue;
      &:hover {
        background-color: lighten($c-blue, 10);
      }
    }
    &-green {
      background-color: $c-green;
      &:hover {
        background-color: lighten($c-green, 10);
      }
    }
    &-iron {
      @include a-link($c-black, $c-black, none, none);
      background-color: $c-iron;
      &:hover {
        background-color: darken($c-iron, 10);
      }
    }
  }
}
