.blog-teaser {
  @include a-link($c-body-text, $c-body-text, none, none);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__title:hover {
    color: $c-green;
  }
  &__author {
    display: inline-block;
    @include h4();
  }
  .avatar {
    margin-left: $spacing--xs;
    margin-top: -4px;
  }
  &__read-more {
    font-family: $ff--body;
    color: $c-green;
    .blog-teaser:hover & {
      text-decoration: underline;
      color: lighten($c-green, 20);
    }
  }
  &__image {
    padding-top: 40%;
    background-position: center;
    .what-are-ds & {
      background-size: contain;
      background-repeat: no-repeat;
      background-color: white;
      @include breakpoint($bp--medium) {
        background-size: cover;
      }
    }
  }
  &__content {
    padding: $spacing--l $spacing--l $spacing--l 0;
    position: relative;
  }
  &__color {
    display: inline-block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, $c-green, $c-blue--light);
  }
}
