{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "jsdoc"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [0],
    "strict": [0],
    "no-param-reassign": [1, {
      "props": false
    }],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "consistent-return": [0],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-console": [0],
    "prettier/prettier": [
      "error", {
        "trailingComma": "all",
        "singleQuote": true,
        "semi": true
      }
    ],
    "react/require-extension": [0],
    "react/forbid-prop-types": [2, {
      "forbid": ["any", "array"]
    }],
    "react/boolean-prop-naming": [2],
    "react/no-array-index-key": [2],
    "react/jsx-key": [2],
    "import/prefer-default-export": [0],
    "react/no-danger": [0],
    "valid-jsdoc": "error",
    "jsdoc/check-types": "error",
    "no-useless-constructor": "off"
  }
}
