.bio-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 350px;
  transition: all $trans-opacity;
  &__image {
    height: 400px;
    background-size: cover;
    background-position: top center;
    transition: filter $trans-opacity;
    @include breakpoint($bp--medium){
      filter: grayscale(100%);
    }
  }
  &__text {
    padding: $spacing--m;
  }
  &__name {
    margin-bottom: 0;
  }
  &__role {
    margin-bottom: 0;
  }
  &__twitter {
    @include a-link($link: $c-blue--light, $deco: none, $deco--hover: none);
    transition: color $trans-opacity;
    &:hover {
      color: darken($c-blue--light, 10);
    }
  }
  &:hover {
    transform: scale(1.01);
    .bio-block__image {
      filter: none;
    }
  }
}
