.exec-bio {
  padding: $spacing--xl $spacing--m;
  &__avatar {
    float: left;
    padding: 0 $spacing--m $spacing--m;
    .avatar {
      height: $fs--xl * 4;
      width: $fs--xl * 4;
      @include breakpoint($bp--medium) {
        height: $fs--xl * 6;
        width: $fs--xl * 6;
      }
    }
  }
  &--even {
    .exec-bio__avatar {
      float: right;
    }
    background-color: $c-blue--light;
  }
  &--odd {
    background-color: $c-iron;
  }
  &__text {
  }
  &__name {
    margin-bottom: 0;
  }
  &__bio {

  }
  &__twitter {
    &:hover {
      color: $c-blue;
    }
  }

  @include breakpoint($bp--medium) {

  }

  @include breakpoint($bp--large) {

  }
  .exec-bios-list & {
    margin: 2rem 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
