.exec-bio {
  padding: $spacing--xl $spacing--xl;
  &__avatar {
    float: left;
    .avatar {
      height: $fs--xl * 4;
      width: $fs--xl * 4;
      @include breakpoint($bp--medium) {
        height: $fs--xl * 6;
        width: $fs--xl * 6;
      }
    }
  }
  &--even {
    .exec-bio__avatar {
      float: right;
      padding: 0 0 $spacing--m $spacing--m;
    }
    background-color: $c-blue--light;
  }
  &--odd {
    background-color: $c-iron;
    .exec-bio__avatar {
      padding:: 0 $spacing--m $spacing--m 0;
    }
    .exec-bio__name, .exec-bio__twitter {
      text-align: right;
    }
  }
  &__text {
  }
  &__name {
    margin-bottom: 0;
  }
  &__bio {

  }
  &__twitter {
    &:hover {
      color: $c-blue;
    }
  }

  @include breakpoint($bp--small) {
    &--odd {
      .exec-bio__name, .exec-bio__twitter {
        text-align: left;
      }
    }
  }

  @include breakpoint($bp--large) {

  }
  .exec-bios-list & {
    margin: 2rem 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
