{% set content %}
  <div class="smart-grid" style="width: 25%;">
    {% include '@styleguide/_branding.twig' %}
  </div>

  <section class="u-spacing-down">
    <h3>Basalt - APIs for Brands</h3>
    <p>Basalt is a digital agency based in the philosophy of component driven development. We create API’s for brands using libraries of components that power experiences on the web, micro-sites, native apps, social, and point-in-time communication channels.</p>
    <p>Basalt, a type of igneous rock commonly found in the northwestern United States, forms hexagonal columns as it cools. Basalt represents our roots--the Northwest, and our belief that quality design begins with rock-solid scalable components.</p>
    <p>Our Portland-based team brings dozens of years of experience in design and technology. The sites and applications we create build better experiences for developers, designers and users.</p>
    <p>We specialize in:</p>
    <ul>
      <li>Creating reusable components that power your technology - Basalt unlocks the efficiency and power of CDD and puts it to work for your<br>
        company.</li>
      <li>A team of experts that can help you simplify your technology and craft a common language - Basalt streamlines your change management with strategic technology<br>
        consulting that ensures your company reuses functionality and design.</li>
      <li>Talented developers that can simplify, create consistency, and help you scale - Basalt’s systems, tools and solutions give you the power to shape your brand,<br>
        keep it true, and broadcast it seamlessly to the world.</li>
    </ul>

  </section>

  {% include '@components/insightly-form.twig' %}
{% endset %}

{% include '@layouts/_site.twig' with {
  content: content,
} %}
