{% set classes = [
  'crux-basalt-logo',
  is_light ? 'crux-basalt-logo--light' : '',
  extraClasses | default(''),
] %}

<svg role="img" class="{{ classes | join (' ') }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="409.21px" height="89.21px" viewBox="0 0 409.21 89.21" style="enable-background:new 0 0 409.21 89.21;"
	 xml:space="preserve">
   <title>Basalt Logo</title>
  <path class="crux-basalt-logo__black-element" d="M0,88.72V3.08h23.12c13.95,0,21.8,8.56,21.8,20.55c0.24,6.3-3.07,12.2-8.56,15.29
    c10.62,3.8,17.35,12.33,17.35,23.62c0,14.71-9.79,26.18-32.18,26.18H0z M20.18,35.25c8.2,0,12-5,12-11.62
    c-0.01-5.26-3.07-10.38-10.26-10.38h-9v22H20.18z M24.71,77.71c10.52,0,15.91-7.34,15.91-15.29c0.14-8.44-6.59-15.4-15.03-15.55
    c-0.25,0-0.51,0-0.76,0.01H12.92v30.83H24.71z"/>
  <path class="crux-basalt-logo__black-element" d="M147.92,71.81l11.1-6.36c2.81,7.59,8.56,11.87,15.17,11.87c8,0,12.48-5.51,12.48-13c0-15.29-33-22-33-43.43
    c0-11.75,9.67-19.82,20.43-19.82c7.83,0,14.44,3.55,18.35,9.79l-9.42,7.71c-2.08-3.18-4.89-5.75-8.56-5.75
    c-4.53,0-7.83,3.55-7.83,8.2c0,12.11,33.16,19.82,33.16,43.19c0,14.32-11.13,25-25.69,25C163.05,89.19,152.29,83.56,147.92,71.81z"
    />
  <path class="crux-basalt-logo__black-element" d="M113.31,64.85H86.15l-7.1,23.74H65.1L92.75,2.94h13.83l27.65,85.65h-13.82L113.31,64.85z M89.69,53.1h20.07
    l-7.71-25.94c-0.99-3.08-1.77-6.23-2.33-9.42c-0.57,3.27-1.35,6.5-2.32,9.67L89.69,53.1z"/>
  <path class="crux-basalt-logo__black-element" d="M311.41,87.96V2.32h13v73.41h32.18v12.23H311.41z"/>
  <path class="crux-basalt-logo__black-element" d="M378.15,87.96V14.43h-18V2.32h49.06v12.11h-18v73.53H378.15z"/>
  <g id="_Group__1_">
    <path class="crux-basalt-logo__black-element" d="M291.46,79.55c0.69,1.05,1.03,2.29,1,3.55c0,2.86-1.68,5.18-3.75,5.18h-72.65c-1.55-0.14-2.85-1.21-3.28-2.71
      c-0.67-1.72-0.62-3.64,0.14-5.32l36.29-78c1.39-3,4.94-3,6.32,0L291.46,79.55z M281.77,77.91l-17.85-38.3l-9.35,20l8.54,18.33
      L281.77,77.91z M259.48,30.03l-7.12-15.29l-29.44,63.17h14.13L259.48,30.03z"/>
    <polygon class="crux-basalt-logo__green-element" points="252.36,14.74 259.48,30.03 237.06,77.91 222.93,77.91 	"/>
  </g>
</svg>
