{% set content %}
  <p>{{ random(paragraphs) }}</p>
{% endset %}
{% include '@components/_basic-block.twig' with {
  title: random(titles),
  content: content,
  size: 'xlarge',
  buttons: [{
    url: '#',
    text: random(texts),
  }],
} only %}
