.basic-block {
  text-align: center;
  &__title {

  }
  &__image {
    margin-bottom: $spacing--l;
  }
  &__content {
    margin-bottom: $spacing--l;
    .basic-block--size-large & {
      font-size: $fs--l;
    }
    .basic-block--size-xlarge & {
      font-size: $fs--xl;
    }
  }
  &__buttons {
    .button {
      margin-bottom: 0;
    }
  }

  @include breakpoint($bp--medium) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint($bp--large) {
    &__image {
      margin-bottom: $spacing--xl;
    }
  }

}
