.media-tile {
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  &[data-linkto] {
    @include overlay($c-black, 0.25);
    &:hover {
      @include overlay($c-black, 0.5);
    }
  }
  &--overlay-blue {
    @include overlay($c-blue, 0.4);
  }
  &--overlay-green {
    @include overlay($c-green, 0.4);
  }
  &--overlay-black {
    @include overlay($c-black);
  }
  &--overlay-yellow {
    @include overlay($c-yellow);
  }
  &--overlay-darker {
    @include overlay($c-black, 0.6);
  }
  &__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing--xl;
    &--top {
      justify-content: flex-start;
    }
    &--center {
      justify-content: center;
    }
    &--bottom {
      justify-content: flex-end;
    }
  }
  &__title {
    margin-bottom: $spacing--m;
  }
  &__buttons {
    margin: $spacing--m 0 0;
    .button {
      margin: 0 $spacing--m;
    }
  }
  &__body {
    p {
      margin-bottom: $spacing--m;
    }
    &--s {
      font-size: $fs--s;
    }
    &--m {
      font-size: $fs--m;
    }
    &--l {
      font-size: $fs--l;
    }
    &--xl {
      font-size: $fs--xl;
    }
    &--xxl {
      font-size: $fs--xxl;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  &__list {
    @include breakpoint($bp--medium) {
      margin-left: 15%;
    }
  }
}

.media-tile {
  //@todo properly incorporate list component into media tile
  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0.25rem;
    @include icon('icon-black');
    &:before {
      padding-right: $spacing--s;
      padding-bottom: 0.25rem;
    }
    &:not(:last-child) {
      border-bottom: $c-gray--dark;
    }
  }

  // @todo better handling of spacing in media tiles with lists
  .media-tile__body ul,
  .media-tile__body ol {
    margin-top: $spacing--m;
    margin-bottom: 0;
  }
}

