.avatar {
  border-radius: 50%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  &--size-s {
    height: $fs--xl;
    width: $fs--xl;
  }
  &--size-m {
    height: $fs--xxl;
    width: $fs--xxl;
  }
  &--size-l {
    height: $fs--xl * 2;
    width: $fs--xl * 2;
  }
  &--size-xl {
    height: $fs--xl * 4;
    width: $fs--xl * 4;
  }
  &--size-jumbo {
    height: $fs--xl * 6;
    width: $fs--xl * 6;
  }
}
