{% set logos = [
  'Black-color.png',
  'black-color.svg',
  'black-grey.png',
  'black-grey.svg',
  'black-only.png',
  'black-only.svg',
  'icon-black-grey.png',
  'icon-black-grey.svg',
  'icon-black-only.png',
  'icon-black-only.svg',
  'icon-color.png',
  'icon-color.svg',
  'icon-white-grey.png',
  'icon-white-grey.svg',
  'icon-white-color.png',
  'icon-white-color.svg',
  'white-color.png',
  'white-color.svg',
  'white-grey.png',
  'white-grey.svg',
  'white-icon.png',
  'white-icon.svg',
  'white-only.png',
  'white-only.svg',
] %}

{% set basePath = '../../../../images/logos/' %}

<div class="smart-grid" data-row-items-small="2" data-row-items-large="3">
  {% for logo in logos %}
    <div class="demo-logo-box">
      <h4>{{ logo }}</h4>
      <img src="{{ basePath ~ logo }}" alt="">
    </div>
  {% endfor %}
</div>
