.list {
  text-align: left;
  &--xs {
    font-size: $fs--xs;
  }
  &--s {
    font-size: $fs--s;
  }
  &--m {
    font-size: $fs--m;
  }
  &--l {
    font-size: $fs--l;
  }
  &--xl {
    font-size: $fs--xl;
  }
  &--bullets {
  }
  &--ordered {
  }
  &--plain ul {
    list-style-type: none;
  }
  &--columns {
    &-2 {
      -webkit-columns: 2 300px;
      -moz-columns: 2 300px;
      columns: 2 300px;
    }
    &-3 {
      -webkit-columns: 3 200px;
      -moz-columns: 3 200px;
      columns: 3 200px;
    }
    &-4 {
      -webkit-columns: 4 150px;
      -moz-columns: 4 150px;
      columns: 4 150px;
    }
  }
}



.columns {
	-moz-column-count: 2;
	-moz-column-gap: 50px;
	-webkit-column-count: 2;
	-webkit-column-gap: 50px;
	column-count: 2;
	column-gap: 50px;
  -moz-column-rule: 1px solid #000;
  -webkit-column-rule: 1px solid #000;
  column-rule: 1px solid #000;
	padding:0 5px;
}
.columns ul{margin:0;padding:0 0  0 2em;list-style:disc;background:#f9f9f9;}
@media screen and (max-width:760px){
	.columns {
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count:1;
	-webkit-column-gap:0;
	column-count: 1;
	column-gap: 0px;
	}
}
