// Place a `.ttf`, `.woff`, & `.woff2` in `$font-directory`
$font-faces: (
  (
    "name": "AvenirLight",
    "filename": "avenir--light"
  ),
  (
    "name": "AvenirMedium",
    "filename": "avenir--medium"
  ),
  (
    "name": "DinCondensed",
    "filename": "din-condensed--regular"
  )
) !default;


// Child themes can add to Fonts with `$extra-font-faces`
@if variable-exists(extra-font-faces) {
  $font-faces: join($font-faces, $extra-font-faces);
}

$font-directory: "../../fonts/" !default;

@each $font-face in $font-faces {
  $filename: map-get($font-face, "filename");
  @font-face {
    font-family: map-get($font-face, "name");
    src: url("#{$font-directory}#{$filename}.woff2") format("woff2"),
      url("#{$font-directory}#{$filename}.woff") format("woff"),
      url("#{$font-directory}#{$filename}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

$ff--avenir--light: 'AvenirLight', sans-serif;
$ff--avenir--medium: 'AvenirMedium', sans-serif;
$ff--din-condensed: 'DinCondensed', sans-serif;
//$ff--helvetica: 'Helvetica', sans-serif;

$ff--heading: $ff--din-condensed !default;
$ff--body: $ff--avenir--light !default;

// font Sizes
$fs--xxl: 36px;
$fs--xl: 27px;
$fs--l: 18px;
$fs--m: 16px;
$fs--s: 14px;
$fs--xs: 12px;
$fs--xxs: 10px;
