/// Mixin - Set Link Colors & Decoration
/// @param $link
/// @param $hover
/// @param $deco
/// @param $deco--hover
@mixin a-link($link: $c-links, $hover: $c-links--hover, $deco: underline, $deco--hover: underline) {
  &,
  &:link,
  &:visited {
    color: $link;
    text-decoration: $deco;
  }
  &:hover,
  &:focus,
  &:active {
    color: $hover;
    text-decoration: $deco--hover;
  }
}

// This will adjust the base HTML font size fluidly between the xsmall and
// xxlarge breakpoints to a font size between 14px minimum to 18px maximum.
html {
  // @include fluid-type(font-size, $bp--xsmall, $bp--xxlarge, 14px, 18px);
}

body {
  font-family: $ff--body;
  color: $c-body-text;
  font-size: $fs--m;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 $spacing--m;
}

a {
  @include a-link;
}

b,
strong {
  font-family: $ff--avenir--medium;
}

blockquote {
  font-style: italic;
  border-left: solid 3px $c-border;
  margin-left: $spacing--l;
  padding-left: $spacing--l;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
  width: 75%;
}

pre {
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  position: relative;
  margin: 0 0 $spacing--s;
  > code {
    padding: 0.2em 0.5em;
    background: black;
    color: white;
    width: 100%;
    display: block;
  }
}

code {
  background: transparentize($c-gray, 0.2);
  padding: 0 3px;
  border-radius: 4px;
}

