$icon-font-base-name: "icons";
$icon-font-path: "";
$icon-font-class-prefix: "icon";

$font-icons: (
  close: "\",
  facebook: "\",
  icon-black-grey: "\",
  icon-black: "\",
  icon-color: "\",
  instagram: "\",
  linkedin: "\",
  menu: "\",
  search: "\",
  twitter: "\",
);
