{% set logos = [
  'main',
  'black-grey',
  'black-only',
  'white-color',
  'white-grey',
  'white',
  'icon-black-grey',
  'icon-black',
  'icon-color',
  'icon-white-color',
  'icon-white-grey',
  'icon-white',
] %}

{% set basePath = '../../../../images/logos/' %}

<div class="smart-grid" data-row-items-small="2">
  <div>
    <h4>Main Logo Permalinks</h4>
    <ul>
      <li>200px wide: <a href="http://files.basalt.io/logos/main--200.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/main--200.png</a></li>
      <li>500px wide: <a href="http://files.basalt.io/logos/main--500.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/main--500.png</a></li>
      <li>1000px wide: <a href="http://files.basalt.io/logos/main--1000.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/main--1000.png</a></li>
      <li>~1700px wide: <a href="http://files.basalt.io/logos/main.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/main.png</a></li>
    </ul>
  </div>

  <div>
    <h4>Main Icon Permalinks</h4>
    <ul>
      <li>25px wide: <a href="http://files.basalt.io/logos/icon--25.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/icon--25.png</a></li>
      <li>50px wide: <a href="http://files.basalt.io/logos/icon--50.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/icon--50.png</a></li>
      <li>100px wide: <a href="http://files.basalt.io/logos/icon--100.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/icon--100.png</a></li>
      <li>200px wide: <a href="http://files.basalt.io/logos/icon--200.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/icon--200.png</a></li>
      <li>500px wide: <a href="http://files.basalt.io/logos/icon--500.png" class="external-link" rel="nofollow">http://files.basalt.io/logos/icon--500.png</a></li>
    </ul>
  </div>
</div>
<p>Each logo is shown with a light gray background color, though the file does not contain it. Hover over to view with a dark gray background. This is only for helping to pick a logo with strong contrast.</p>

<div class="smart-grid" data-row-items-small="2" data-row-items-large="3">
  {% for logo in logos %}
    <div class="demo-logo-box">
      <p><b>{{ logo }}</b></p>
      <img src="{{ basePath ~ logo ~ '.png' }}" alt="">
      <span>Download: </span>
      <a href="{{ basePath ~ logo ~ '.svg' }}" target="_blank">SVG</a>
      <a href="{{ basePath ~ logo ~ '.png' }}" target="_blank">PNG</a>
    </div>
  {% endfor %}
</div>
