<h2>Basalt is...</h2>

<h3>Primary</h3>
<p>Energetic, Passionate, Geeky</p>
<h3>Secondary</h3>
<p>Cutting Edge, Progressive, Visionary, Best in Class</p>
<h3>Tertiary</h3>
<p>Coordinated, streamlined, disciplined, Relatable (speaking your language, consultative), Authentic, Technical</p>
<h3>Supporting</h3>
<p>Imaginative, Specialized, Focused, Small, Intimate Adventurous, Treasure Hunters, Opinionated, Iterative, Thoughtful, Curators, Fast Moving, Contrast, Crafted</p>




