<div class="smart-grid" data-row-items-medium="2">
  <div>
    <p>See the links below for more info on our logo, our icon, their variations and how to use them best.</p>
    <ul>
      <li><a href="../../patterns/00-styleguide-01-branding--02-logo-usage/00-styleguide-01-branding--02-logo-usage.html">Logo Usage</a> - Guidelines on best ways to use logo</li>
      <li><a href="../../patterns/00-styleguide-01-branding--03-logo-variations/00-styleguide-01-branding--03-logo-variations.html">Logo Variations</a> - Shows the many variants of our logo along with download links</li>
    </ul>
  </div>

  <div>
    <img class="u-border" src="../../../../images/logo--color.svg" alt="">
  </div>
</div>


