.site-footer {
  background-color: $c-iron;
  margin-top: $spacing--xxl;
  &__inner {
    padding-top: $spacing--l;
    padding-bottom: $spacing--l;
    width: 95%;
  }
  &__body {
    font-weight: bold;
    font-family: $ff--avenir--medium;
    text-align: center;
    width: 100%;
  }
  &__meta {
    font-size: $fs--xs;
    margin-top: $spacing--s;
  }
  &__social,
  &__menu {
    &-link {
      @include a-link($deco: none, $deco--hover: none);
      font-family: $ff--avenir--medium;
      display: block;
      margin-bottom: $spacing--xs;
      margin-right: $spacing--xs;
    }
  }
  &__social {
    padding: $spacing--l 0 $spacing--xxl;
    @include breakpoint($bp--medium) {
      padding: 0;
      float: right;
    }
  }

  @include breakpoint($bp--medium) {
    &__inner {
      padding-top: $spacing--l;
      padding-bottom: $spacing--l;
    }
    &__social,
    &__menu {
      &-link {
        margin-bottom: $spacing--xs;
      }
    }
    &__content {

    }
    &__body {
      font-size: 1.5rem;
    }
  }
}
