{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'site-footer',
  'u-full-width',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<div class="{{ classes|join(' ') }}">
  <div class="site-footer__inner u-site-container">
    <div class="site-footer__content">
      <div class="site-footer__social">
        {% include '@components/_social.twig' only %}
      </div>
      <div class="site-footer__body">
        <p>We build consistent, scalable, and maintainable solutions to power your digital strategy.</p>
      </div>

      <div class="site-footer__meta">
        ©2017 Basalt All Rights Reserved
      </div>
    </div>


    <nav class="site-footer__menu">
      {% for item in menu_items %}
        <a href="{{ item.url }}" class="site-footer__menu-link{% if item.active %} main-menu__link--active{% endif %}">{{ item.text }}</a>
      {% endfor %}
        <a href="http://design.basalt.io" class="site-footer__menu-link" target="_blank">Our Pattern Lab</a>

    </nav>
  </div>
</div>
