/* stylelint-disable declaration-no-important */

/// @group Utilities
.u-text-align-center {
  text-align: center !important;
}

/// @group Utilities
.u-text-align-right {
  text-align: right !important;
}

/// @group Utilities
.u-text-align-left {
  text-align: left !important;
}
