.bg-img {
  background-size: cover;
  &--top-left {
    background-position: top left;
  }
  &--top-center {
    background-position: top center;
  }
  &--top-right {
    background-position: top right;
  }
  &--bottom-left {
    background-position: bottom left;
  }
  &--bottom-center {
    background-position: bottom center;
  }
  &--bottom-right {
    background-position: bottom right;
  }
}
