{% set classes = [
  size ? 'logo--' ~ size,
] | merge(classes|default([])) %}

{% set imgSrc = logo_img is iterable ? logo_img.src : logo_img %}

{% set imgClasses = [
  'logo_img',
  greyscale ? 'logo_img--greyscale',
] %}

<div class="logo {{ classes|join(' ') }}" {% if url %}
  data-linkto="{{ url }}" {% endif %}>
  {% include '@styleguide/_img.twig' with {
    bg: false,
    class: imgClasses|join(' '),
    img: imgSrc,
  } %}
</div>
