{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'blog-list',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<div class="{{ classes|join(' ') }}">
  <div class="blog-list__hero">{{ hero }}</div>
  {% if teasers %}
    <div class="blog-list__teasers">

      {% embed '@layouts/_smart-grid.twig' with {
        rowItems: {
          xlarge: '3',
          large: '2',
          medium: '2',
          small: '1',
        },
      } %}

        {% block gridItems %}
          {% for teaser in teasers %}
            {% include '@components/blog-teaser.twig' with teaser %}
          {% endfor %}
        {% endblock %}

      {% endembed %}
    </div>
  {% endif %}
</div>
