{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'button',
  color ? 'button--color-' ~ color,
  size ? 'button--size-' ~ size,
] | merge(classes|default([])) %}
{#<pre><code>{{ _context|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>#}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}
<a class="{{ classes|join(' ') }}" href="{{ url }}">{{ text }}</a>
