.social {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  &__link {
    @include a-link($deco: none, $deco--hover: none);
    height: 25px;
    margin-left: $spacing--m;
    @include breakpoint($bp--medium) {
      margin-left: $spacing--xxl;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  svg {
    transition: fill $trans-opacity;
    fill: $c-blue;
    height: 25px;
    &:hover {
      fill: $c-yellow;
    }
  }
  &--inverted {
    svg {
      fill: $c-white;
    }
  }
}
