{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'social',
  is_inverted ? 'social--inverted',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

{% set items = [
  {
    url: "https://linkedin.com/company/basalt",
    icon: '@svgs/linkedin.svg',
  },
  {
    url: "https://twitter.com/basaltinc",
    icon: '@svgs/twitter.svg',
  },
  {
    url: "https://www.facebook.com/basaltinc/",
    icon: '@svgs/facebook.svg',
  },
  {
    url: "https://www.instagram.com/basaltinc/",
    icon: '@svgs/instagram.svg',
  },
] %}

{% if items %}
<nav class="{{ classes|join(' ') }}">
  {% for item in items %}
    {% set icon = item.icon %}
    <a href="{{ item.url }}" class="social__link">
      {{ source(item.icon) }}
    </a>
  {% endfor %}
</nav>
{% endif %}
