{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'social',
  is_inverted ? 'social--inverted',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

{% set items = [
  {
    url: "https://linkedin.com/company/basalt",
    icon: '@svgs/linkedin.svg',
    text: 'basalt inc. linkedin',
  },
  {
    url: "https://twitter.com/basaltinc",
    icon: '@svgs/twitter.svg',
    text: 'basalt inc. twitter',
  },
  {
    url: "https://www.facebook.com/basaltinc/",
    icon: '@svgs/facebook.svg',
    text: 'basalt inc. facebook'
  },
  {
    url: "https://www.instagram.com/basaltinc/",
    icon: '@svgs/instagram.svg',
    text: 'basalt inc. instagram',
  },
] %}

{% if items %}
<nav class="{{ classes|join(' ') }}">
  {% for item in items %}
    {% set icon = item.icon %}
    <a
      href="{{ item.url }}"
      class="social__link"
      target="_blank"
      aria-label="{{ item.text }}"
    >
      {{ source(item.icon) }}
    </a>
  {% endfor %}
</nav>
{% endif %}
