<form class="form form--formspree" name="formspree_web_to_lead" action="https://formspree.io/hi@basalt.io" method="post">
  <div class="form__items smart-grid" data-row-items-small="2">
    {% include '@styleguide/_form-item.twig' with {
      label: 'First Name',
      name: 'FirstName',
    } only %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Last Name',
      name: 'LastName',
    } only %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Organization',
      name: 'OrganizationName',
    } only %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Email',
      name: 'email',
      type: 'email'
    } only %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Phone',
      name: 'phone',
      type: 'phone'
    } only %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Title',
      name: 'Title',
    } only %}
  </div>
  <div class="form__items smart-grid">
    {% include '@styleguide/_form-item.twig' with {
      label: 'Message',
      type: 'textarea',
      name: 'Message',
    } only %}
  </div>
  <div class="form__actions smart-grid" data-row-items-small="2">
    <div class="">

    </div>
    {% include '@styleguide/_form-item.twig' with {
      type: 'submit',
      value: 'Submit'
    } only %}
  </div>

</form>
