<form class="form form--insightly" name="insightly_web_to_lead" action="https://gh8e00zj.insight.ly/WebToLead/Create" method="post">
  <div class="form__items smart-grid" data-row-items-small="2">
    {% include '@styleguide/_form-item.twig' with {
      label: 'First Name',
      name: 'FirstName',
    } %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Last Name',
      name: 'LastName',
    } %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Organization',
      name: 'OrganizationName',
    } %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Email',
      name: 'email',
      type: 'email'
    } %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Phone',
      name: 'phone',
      type: 'phone'
    } %}
    {% include '@styleguide/_form-item.twig' with {
      label: 'Title',
      name: 'Title',
    } %}
  </div>
  <div class="form__actions smart-grid" data-row-items-small="2">
    <div>

      <input type="hidden" name="formId" value="VBBraZTCfgOIIiPE5yQUNA==" />
      <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1941326" />
    <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1414388" />
    </div>

    {% include '@styleguide/_form-item.twig' with {
      type: 'submit',
      name: 'submit',
      value: 'Submit'
    } %}
  </div>

</form>
