.exec-bio {
  padding: $spacing--xl $spacing--xl;
  //max-width: 1200px;
  &__avatar {
    float: left;
    .avatar {
      height: $fs--xl * 4;
      width: $fs--xl * 4;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      @include breakpoint($bp--medium) {
        height: $fs--xl * 6;
        width: $fs--xl * 6;
      }
    }
  }
  &--even {
    .exec-bio__avatar {
      float: right;
      padding: 0px 0px $spacing--m $spacing--m;
    }
  }
  &--odd {
    .exec-bio__avatar {
      padding: 0px $spacing--m $spacing--m 0px;
    }
    .exec-bio__name, .exec-bio__twitter {
      text-align: right;
    }
  }
  &__text {
  }
  &__name {
    margin-bottom: 0;
  }
  &__bio {

  }
  &__twitter {
    &:hover {
      color: $c-blue;
    }
  }

  @include breakpoint($bp--small) {
    &--odd {
      .exec-bio__name, .exec-bio__twitter {
        text-align: left;
      }
    }
  }

  @include breakpoint($bp--large) {

  }
}
