.blog-teaser {
  $bp: $bp--medium;
  @include a-link($c-body-text, $c-body-text, none, none);
  display: flex;
  flex-direction: column-reverse;
  margin-top: $spacing--xxl;
  &--even {
    background-color: $c-yellow;
  }
  &--odd {
    background-color: $c-iron;
    text-align: right;
  }
  @include breakpoint($bp) {
    justify-content: space-between;
    flex-direction: row;
    &--even {
      flex-direction: row-reverse;
    }
    &__content {
      width: grid-width(7, false);
    }
    &__image {
      width: grid-width(5, false);
    }
  }
  &__title {
    @include breakpoint($bp) {
      margin-bottom: $spacing--m;
    }
  }
  &__author {
    display: inline-block;
    @include breakpoint($bp) {
      margin-bottom: $spacing--m;
    }
    @include h4();
  }
  .avatar {
    margin-left: $spacing--xs;
    margin-top: -4px;
  }
  &__date {

  }
  &__summary {

  }
  &__read-more {
    //color: $c-white;
    font-family: $ff--avenir--medium;
    .blog-teaser:hover & {
      text-decoration: underline;
    }
  }
  &__image {
    padding-top: 40%;
    background-position: center;
    @include breakpoint($bp) {
      padding-top: 0;
    }
  }
  &__content {
    padding: $spacing--l;

    @include breakpoint($bp) {
      padding: $spacing--xxxl;
    }
    @include breakpoint($bp--xxlarge) {
      padding: 2* $spacing--xxxl;
    }
  }

}
