{% set classes = [

] | merge(classes|default([])) %}

<div class="cta">
  <p>We build consistent, scalable, and maintainable solutions to power your digital strategy.</p>
  <div class="cta__button">
    {% include '@components/_button.twig' with {
      text: 'Get Started',
      url: 'http://www.basalt.io/contact',
      size: 'large',
      color: 'iron',
    } only %}
  </div>
</div>
