.avatar {
  border-radius: 50%;
  &--size-s {
    height: $fs--l;
    width: $fs--l;
  }
  &--size-m {
    height: $fs--xl;
    width: $fs--xl;
  }
  &--size-l {
    height: $fs--xxl;
    width: $fs--xxl;
  }
  &--size-xl {
    height: $fs--xl * 2;
    width: $fs--xl * 2;
  }
}
