$spacing--xs: .5rem;
$spacing--s: .75rem;
$spacing--m: 1rem;
$spacing--l: 1.5rem;
$spacing--xl: 2rem;
$spacing--xxl: 3rem;
$spacing--xxxl: 4rem;

$size-map: (
  'xs': $spacing--xs,
  's': $spacing--s,
  'm':  $spacing--m,
  'l': $spacing--l,
  'xl':  $spacing--xl,
  'xxl':  $spacing--xxl,
  'xxxl':  $spacing--xxxl,
);

@each $name, $value in $size-map {
  .u-spacing-down--#{$name} { margin-bottom: $value; }
  .u-spacing-up--#{$name} { margin-top: $value; }
  .u-spacing-vert--#{$name} { margin-top: $value; margin-bottom: $value; }
  .u-padding--#{$name} { padding: $value; }
  .u-padding-up--#{$name} { padding-top: $value; }
  .u-padding-down--#{$name} { padding-bottom: $value; }
  .u-padding-vert--#{$name} { padding-top: $value; padding-bottom: $value; }
  .u-padding-hor--#{$name} { padding-left: $value; padding-right: $value; }
}

// Defaults Generics
.u-spacing-up {
  margin-top: $spacing--l;
}

.u-spacing-down {
  margin-bottom: $spacing--l;
}

.u-padding {
  padding: $spacing--l;
}
