$spacing--s: 5px;
$spacing--m: 10px;
$spacing--l: 20px;
$spacing--xl: 30px;
$spacing--xxl: 40px;
$spacing--xxxl: 50px;

.u-spacing-down {
  margin-bottom: $spacing--l;
  &--s { margin-bottom: $spacing--s; }
  &--m { margin-bottom: $spacing--m; }
  &--l { margin-bottom: $spacing--l; }
  &--xl { margin-bottom: $spacing--xl; }
  &--xxl { margin-bottom: $spacing--xxl; }
  &--xxxl { margin-bottom: $spacing--xxxl; }
}

.u-spacing-up {
  margin-top: $spacing--l;
}

.u-gap-down {
  margin-bottom: $spacing--s;
}

.u-gap-up {
  margin-top: $spacing--s;
}
