$spacing--xs: .5rem;
$spacing--s: .75rem;
$spacing--m: 1rem;
$spacing--l: 1.5rem;
$spacing--xl: 2rem;
$spacing--xxl: 3rem;
$spacing--xxxl: 4rem;

.u-spacing-down {
  margin-bottom: $spacing--l;
  &--s { margin-bottom: $spacing--s; }
  &--m { margin-bottom: $spacing--m; }
  &--l { margin-bottom: $spacing--l; }
  &--xl { margin-bottom: $spacing--xl; }
  &--xxl { margin-bottom: $spacing--xxl; }
  &--xxxl { margin-bottom: $spacing--xxxl; }
}

.u-spacing-up {
  margin-top: $spacing--l;
}

.u-gap-down {
  margin-bottom: $spacing--s;
}

.u-gap-up {
  margin-top: $spacing--s;
}
