.basic-block {
  text-align: left;
  &__title {

  }
  &__image {
    margin-bottom: $spacing--l;
  }
  &__content {
    margin-bottom: $spacing--l;
    font-size: $fs--l;
  }
  &__buttons {
    .button {
      margin-bottom: 0;
    }
  }

  @include breakpoint($bp--medium) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint($bp--large) {
    &__image {
      margin-bottom: $spacing--xl;
    }
  }

}
