.cta {
  background-color: darken($c-gray--lightest, 8);
  padding: $spacing--m 0;
  &__inner {
    padding: $spacing--xl;
    display: block;
    color: $c-blue;

  }
  &__info {
    text-align: left;
  }
  .form {
    width: 100%;
    margin-top: $spacing--m;
  }
  &__address {
    p {
      margin-bottom: 0;
      font-size: $fs--l;
    }
    color: $c-blue;
    transition: color $trans-opacity;
    &:hover {
      color: lighten($c-blue, 10);
    }
  }
  &__tel {
    margin-top: $spacing--m;
    font-size: $fs--l;
  }
  @include breakpoint($bp--medium) {

  }
  @include breakpoint($bp--large) {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .form {
      width: 60%;
      margin-top: 0;
    }
  }
}
