/**
** Demo block
 */
.demo-block {
  margin: 50px 0;
}

.demo-block code {
  position: relative;
}

.demo-block .eyebrow {
  font-weight: 800;
}

.demo-block__title {
  /*color: #305a6d;*/
}

.demo-block [contenteditable]:not(blockquote) {
  border: 1px dashed transparent;
  transition: all 0.2s ease-in-out;
}

.demo-block [contenteditable]:not(blockquote):hover {
  border: 1px dashed #ccc;
}

.demo-block__blockquote[contenteditable] {
  border-top: 1px dashed transparent;
  border-right: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
}

.demo-block__blockquote[contenteditable]:hover {
  border-top: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.demo-block__blockquote::first-line {
  font-weight: 800;
}

/**
** Demo tabs / Panes
 */
.demo-tabs {
  list-style-type: none;
  padding: 0;
  margin: 0 0 -3px;
  display: flex;
  justify-content: space-evenly;
}

.demo-tabs__tab {
  background: #fff;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.demo-vars {
  border: 1px solid #ccc;
  border-right: 5px solid #ccc;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  padding: 30px;
  line-height: 1;
  position: relative;
}

.demo-inner {
  position: relative;
}

.demo-inner:after {
  /*@todo I'm okay with this as long as we propagate it throughout the sites design. Seems out of place atm*/
  /*z-index: -1;*/
  /*position: absolute;*/
  /*content: '';*/
  /*bottom: 15px;*/
  /*right: 10px;*/
  /*width: 50%;*/
  /*top: 80%;*/
  /*max-width: 300px;*/
  /*background: #777;*/
  /*box-shadow: 0 15px 10px #777;*/
  /*transform: rotate(3deg);*/
}

.demo-stage {
  background: #fff;
  border-width: 9px 5px 1px 1px;
  border-style: solid;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: 0 30px;
}

.copy-this {
  position: absolute;
  cursor: pointer;
  right: 20px;
}

.copy-this img {
  width: 26px;
  margin-left: 10px;
}

/* For typograpy */
.t-crux-typography h3 {
  /*color: var(--type-color--typography);*/
}
.t-crux-typography .demo-tabs__tab.is-active {
  color: var(--type-color--typography);
  border-bottom-color: var(--type-color--typography);
}

.t-crux-typography .demo-vars,
.t-crux-typography .demo-stage {
  border-color: var(--type-color--typography);
}

.t-crux-typography .demo-vars code {
  color: var(--type-color--typography);
  background: var(--type-color--typography-accent);
}

/* For components */
.t-crux-component h3 {
  color: var(--type-color--component);
}
.t-crux-component .demo-tabs__tab.is-active {
  color: var(--type-color--component);
  border-bottom-color: var(--type-color--component);
}

.t-crux-component .demo-vars,
.t-crux-component .demo-stage {
  border-color: var(--type-color--component);
}

.t-crux-component .demo-vars code {
  color: var(--type-color--component);
  background: #f6e8fd;
}
