{% set schema = get_data('@components/hero-schema.json') %}

{% include '@utils/schema-docs.twig' with schema %}

<h4>How to use</h4>
{% verbatim %}
<pre><code>{% include '@components/_hero.twig' with {
  title: 'Title',
  body: 'Body',
} only %}
</code></pre>
{% endverbatim %}
