{% set schema = get_data('@components/hero-schema.json') %}

{% for all in schema.properties.alignment_all.oneOf %}
  <p>All: {{ all.enum|first }} ({{ all.title }}) - Content: {{ content }}</p>
  {% include '01-hero-default.twig' with {
    alignment_all: all.enum|first,
  } %}
{% endfor %}
