
{% set content %}
  <div class="u-bg-blue--light" style="min-height: 300px;">
    <h2>Site Content Here</h2>
  </div>
{% endset %}

{% embed '@layouts/_site.twig' with {
    content: content,
    page_title: 'Page Title',
    pages: pages,
  } %}

    {% set menu_items = [] %}
    {% for i in 1..4 %}
      {% set menu_items = menu_items|merge([{
      url: '#',
      text: 'Menu Item ' ~ i,
      active: i == 3,
      }]) %}
    {% endfor %}

    {% block header %}
      {% include "@components/site-header.twig" with {
        menu_items: menu_items,
      } only %}
    {% endblock %}

    {% block footer %}
      {% include "@components/site-footer.twig" with {
        menu_items: menu_items,
      } only %}
    {% endblock %}

  {% endembed %}
