$c-blue--light: hsl(165, 26%, 85%);
$c-blue: hsl(200, 55%, 19%);
$c-green: hsl(159, 20%, 17%);
$c-iron: hsl(240, 3%, 85%);
$c-yellow: hsl(52, 74%, 54%);

$c-white: white;
//$c-gray--lightest: hsl(0, 0%, 89%);
//$c-gray--lighter: hsl(0, 0%, 80%);
//$c-gray--light: hsl(0, 0%, 60%);
//$c-gray: hsl(0, 0%, 48%);
$c-gray: $c-iron;
//$c-gray--dark: hsl(0, 0%, 40%);
//$c-gray--darker: hsl(0, 0%, 20%);
//$c-gray--darkest: hsl(0, 0%, 16.1%);
$c-black: black;
