{# To properly create Component Variations and get correct BEM Modifier classes on, always have a boolean variable instead of variable that's simply `modifier` - those almost always require someone having to double-check stylesheet. #}
{% set classes = [
  'site-header',
] | merge(classes|default([])) %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}

<div class="{{ classes|join(' ') }}">

    <a class="site-header__logo" href="/">
      {{ source('@svgs/logo.svg') }}
    </a>

  {% if menu_items %}
    <nav class="site-header__menu">
      <ul class="main-menu">
        {% for item in menu_items %}
          <li class="main-menu__item">
            <a href="{{ item.url }}" class="main-menu__link{% if item.active %} main-menu__link--active{% endif %}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

</div>
