<div class="site u-site-container">
  <header class="site__header">
    {% block header %}
      {% include "@components/01-site-header-default.twig" %}
    {% endblock %}
  </header>
  <main class="site__page page{% if sidebar %} page--has-sidebar{% endif %}">
    {# @todo Only hide `page_title` if a Hero is present and at top. #}
    {#{% if page_title %}#}
      {#<h1 class="page__title">{{ page_title }}</h1>#}
    {#{% endif %}#}
    <div class="page__content">
      {{ content }}
    </div>
    {% if sidebar %}
      <div class="page__sidebar">{{ sidebar|raw }}</div>
    {% endif %}
  </main>
  <footer class="site__footer">
    {% block footer %}
      {% include "@components/01-site-footer-default.twig" %}
    {% endblock %}
  </footer>
</div>
