.comparisons {
    padding: 1rem;
}

.comparisons__inner {
    background-color: #f6f6f6;
    padding: 1rem 0;
}

.comparisons__item--dont img {
    border-bottom: 8px solid red;
    margin-bottom: 1rem;
}

.comparisons__item--dont span {
    color: red;
    font-weight: bold;
}

.comparisons__item--do img {
    border-bottom: 8px solid green;
    margin-bottom: 1rem;
}

.comparisons__item--do span {
    color: green;
    font-weight: bold;
}

@media (min-width: 450px) {
    .comparisons__inner {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}