.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #000000;
}

.footer-menu {
  display: flex;
  list-style: none;
}

.footer-menu__item {
  margin-right: 10px;
}
