nav {
  background: #16394B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav li {
  padding-right: 20px;
  margin: 0;
}

.brand {
  padding-left: 20px;
}
