.sidebar {
  width: 20%;
  min-width: 300px;
  max-width: 450px;
  box-sizing: border-box;
  padding: 2rem;
  border-right: solid 1px black;
}

.sidebar ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.sidebar h4 {
  margin: 1.25rem 0 0.25rem;
}
