{% set schema = get_data('@components/button-schema.json') %}

{% for size in schema.properties.size.enum %}
  <p>Size: {{ size }}</p>
  {% include '01-button-default.twig' with {
    size: size,
  } %}
{% endfor %}
