{% set color = color|default('green') %}
{% if not size %}
  {% set size = 'medium' %}
{% endif %}
{% set classes = [
  'button',
  'button--color-' ~ color,
  'button--size-' ~ size,
] | merge(classes|default([])) %}

{% if twig_env != 'grav' %}
  {# PL Schema checks do not pass often #}
  {% set url = url|default('#') %}
{% endif %}
{# The `merge` allows an array of class names to be added on, the `default` handles times when none is passes so `merge` doesn't fail. #}
<a class="{{ classes|join(' ') }}" href="{{ url }}">{{ text }}</a>
{# {{ validate_data_schema('@components/button-schema.json', _self) }} #}
