.logo {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $trans-opacity;

  &:hover {
    box-shadow: 1px 2px 6px $c-iron;
    .logo_img--greyscale {
      filter: grayscale(0%);
      transition: filter $trans-opacity__time;
    }
  }

  &--small {
    width: 3rem;
  }
  &--medium {
    width: 5rem;
  }
  &--large {
    width: 7rem;
  }
  &--jumbo {
    width: 9rem;
  }
  &_img {
    margin: 1rem;
    &--greyscale {
      @include breakpoint($bp--medium){
        filter: grayscale(100%);
      }
    }
  }
}

.logo-grid {
  padding-top: $spacing--l;
  margin-bottom: (-$spacing--l);
  text-align: center;
  .smart-grid {
  }
  @include breakpoint($bp--medium) {
    .logo {
      padding: 2rem;
    }
  }
}
