.site-footer {
  background-color: lighten($c-gray--dark, 25);
  color: $c-white;
  padding: $spacing--xl 0;
  &__inner {
    padding-bottom: $spacing--l;
  }
  &__menu {
    &-link {
      margin-right: $spacing--l;
      padding-top: $spacing--m;
    }
  }
  &__meta {
    position: absolute;
    bottom: 0;
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__menu {
    &-link {
      @include a-link($link: $c-white, $deco: none, $deco--hover: none);
      display: block;
      font-size: $fs--l;
      &:hover {
        color: $c-white;
        opacity: 0.8;
      }
    }
  }
  &__social {
    height: 25px;
    padding: $spacing--xl 0 $spacing--xl;
    svg {
      height: 25px;
    }
  }

  @include breakpoint($bp--medium) {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
    &__menu {
      display: flex;
    }
  }
}
