{% set classes = [
  'list',
  text_size ? 'list--' ~ text_size,
  bullets ? 'list--bullets' : ordered ? 'list--ordered' : 'list--plain',
  columns ? 'list--columns-' ~ columns,
  text_color ? 'u-c-' ~ text_color,

] | merge(classes|default([])) %}

{% set listItems = list_items %}
{% set listType = ordered ? 'ol' : 'ul' %}

<div class="{{ classes|join(' ') }}">
  {% if listType %}
    <{{listType}}>
  {% endif %}
    {% for item in listItems %}
      {% for text in item %}
        <li>{{ text }}</li>
      {% endfor %}
    {% endfor %}
  {% if listType %}
    </{{listType}}>
  {% endif %}
</div>
