.list {
  text-align: left;
  &--xs {
    font-size: $fs--xs;
  }
  &--s {
    font-size: $fs--s;
  }
  &--m {
    font-size: $fs--m;
  }
  &--l {
    font-size: $fs--l;
  }
  &--xl {
    font-size: $fs--xl;
  }
  &--bullets {
  }
  &--ordered {
  }
  &--plain ul {
    list-style-type: none;
  }
  &--columns {
    &-2 {
      columns: 2 300px;
    }
    &-3 {
      columns: 3 200px;
    }
    &-4 {
      columns: 4 150px;
    }
  }
}
