$open: '.site-header-toggle:checked + .site-header';

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  &__logo {
    display: block;
    width: grid-width(5);
    margin: $spacing--xs 0;
    max-width: 200px;
    line-height: 1;
    @include breakpoint($bp--xsmall) {
      width: grid-width(4);
    }
  }
  &__button {
    font-size: 1.5rem;

    .expanded-text {
      display: none;
    }

    .collapsed-text {
      display: inline;
    }
    &:hover { cursor: pointer; }
    #{$open} & {
      @include icon(close);

      .expanded-text {
        display: inline;
      }

      .collapsed-text {
        display: none;
      }
    }
  }
  &__menu {
    display: none;
    width: 100%;
    #{$open} & {
      display: block;
    }
  }
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  width: 100%;
  text-align: right;
  margin: 0;
  &__item {
    margin-right: $spacing--l;
    margin-bottom: 0;
  }
  &__link {
    @include a-link($link: $c-black, $deco: none);
    display: block;
    font-family: $ff--body;
    padding: $spacing--xs 0;
    transition: all $trans-opacity;
    &--active.main-menu__link--active {
      text-decoration: underline;
    }
    &:hover {
      opacity: .8;
    }
  }
}

@include breakpoint(1073px) {
  .site-header {
    &__logo {
      margin: $spacing--l 0;
      width: grid-width(3);
    }
    &__button {
      display: none;
    }
    &__menu {
      display: block;
      width: auto;
    }
  }
  .main-menu {
    flex-direction: row;
    font-size: $fs--l;
  }
}
