.rjsf summary {
  cursor: pointer;
}

.rjsf .field-array__add-button {

}

.rjsf .field-array__item {
  display: flex;
  align-items: center;
}

.rjsf .field-array__item-content {

}

.rjsf .field-array__item-button-tray {
  display: inline-block;
  padding: 0.75rem 0.25rem;
  border: 1px solid #8b8b8b;
  border-radius: 0;
  cursor: pointer;
}

.rjsf .field-array__item-button-tray hr {
  margin: 0.5rem 0 0.75rem;
}

.rjsf .field-array__item-button {
  background-size: contain;
  height: 20px;
  width: 20px;
}

.rjsf .field-array legend {
  font-size: 1.5rem;
}
