.logo {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $trans-opacity;
  &:hover {
    transform: scale(1.04);
    .logo_img--greyscale {
      filter: grayscale(0%);
      transition: filter $trans-opacity__time;
    }
  }

  &--small {
    width: 3rem;
  }
  &--medium {
    width: 5rem;
  }
  &--large {
    width: 7rem;
  }
  &--jumbo {
    width: 9rem;
  }
  &_img {
    margin: 1rem;
    &--greyscale {
      @include breakpoint($bp--medium){
        filter: grayscale(100%);
      }
    }
  }
}

