{% set classes = [
  'logo',
  size ? 'logo--' ~ size,
] | merge(classes|default([])) %}

{% set imgClasses = [
  'logo_img',
  greyscale ? 'logo_img--greyscale',
] %}

<div 
  class="{{ classes|join(' ') }}" {% if url %}
  data-linkto="{{ url }}" {% endif %}
  tabindex="0"
  >
  {% include '@styleguide/_img.twig' with {
    bg: false,
    class: imgClasses|join(' '),
    img: imgSrc,
  } %}
</div>
